export(calCurvPlot)
export(calWt)
export(constRecal)
export(cvRepWtTuning)
export(cvWtTuning)
export(nb)
export(RAWgrid)
export(snbRecalPlot)
export(stdRecal)
export(wtRecal)
import(lattice)
import(caret)
import(ggplot2)
import(stats)
import(cowplot)
import(nloptr)
importFrom("graphics", "abline", "arrows", "legend", "plot", "points")
